<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ValidateLogin</servlet-name>
        <servlet-class>control.ValidateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMenu</servlet-name>
        <servlet-class>control.CreateMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterMenu</servlet-name>
        <servlet-class>control.AlterMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMenu</servlet-name>
        <servlet-class>control.DeleteMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfile</servlet-name>
        <servlet-class>control.CreateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterProfile</servlet-name>
        <servlet-class>control.AlterProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProfile</servlet-name>
        <servlet-class>control.DeleteProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProfileMenu</servlet-name>
        <servlet-class>control.ManagerProfileMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSubMenu</servlet-name>
        <servlet-class>control.CreateSubMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterSubMenu</servlet-name>
        <servlet-class>control.AlterSubMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubMenu</servlet-name>
        <servlet-class>control.DeleteSubMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFuncionary</servlet-name>
        <servlet-class>control.CreateFuncionary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUser</servlet-name>
        <servlet-class>control.CreateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfileMenu</servlet-name>
        <servlet-class>control.ManageProfileMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterUser</servlet-name>
        <servlet-class>control.AlterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLogin</servlet-name>
        <servlet-class>control.CreateLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterLogin</servlet-name>
        <servlet-class>control.AlterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>control.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alter_Funcionary</servlet-name>
        <servlet-class>control.AlterFuncionary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAddress</servlet-name>
        <servlet-class>control.CreateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTelephone</servlet-name>
        <servlet-class>control.CreateTelephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterAddress</servlet-name>
        <servlet-class>control.AlterAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterTelephone</servlet-name>
        <servlet-class>control.AlterTelephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSchool</servlet-name>
        <servlet-class>control.CreateSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterSchool</servlet-name>
        <servlet-class>control.AlterSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTelephone</servlet-name>
        <servlet-class>control.DeleteTelephone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailAttachServlet</servlet-name>
        <servlet-class>control.SendMailAttachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailConfirmation</servlet-name>
        <servlet-class>control.EmailConfirmation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateResponsibleSchool</servlet-name>
        <servlet-class>control.CreateResponsibleSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterResponsibleSchool</servlet-name>
        <servlet-class>control.AlterResponsibleSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProfileSchool</servlet-name>
        <servlet-class>control.CreateProfileSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterProfileSchool</servlet-name>
        <servlet-class>control.AlterProfileSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProfileSchoolMenu</servlet-name>
        <servlet-class>control.ManageProfileSchoolMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTeacher</servlet-name>
        <servlet-class>control.CreateTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourse</servlet-name>
        <servlet-class>control.CreateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterCourse</servlet-name>
        <servlet-class>control.AlterCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClassRoom</servlet-name>
        <servlet-class>control.CreateClassRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSchoolYear</servlet-name>
        <servlet-class>control.CreateSchoolYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterSchoolYear</servlet-name>
        <servlet-class>control.AlterSchoolYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscipline</servlet-name>
        <servlet-class>control.CreateDiscipline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterDiscipline</servlet-name>
        <servlet-class>control.AlterDiscipline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>control.CreateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterStudent</servlet-name>
        <servlet-class>control.AlterStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterTeacher</servlet-name>
        <servlet-class>control.AlterTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageTeacherDiscipline</servlet-name>
        <servlet-class>control.ManageTeacherDiscipline</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateLogin</servlet-name>
        <url-pattern>/validate_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMenu</servlet-name>
        <url-pattern>/create_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterMenu</servlet-name>
        <url-pattern>/alter_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMenu</servlet-name>
        <url-pattern>/delete_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfile</servlet-name>
        <url-pattern>/create_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterProfile</servlet-name>
        <url-pattern>/alter_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProfile</servlet-name>
        <url-pattern>/delete_profile.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProfileMenu</servlet-name>
        <url-pattern>/manager_profile_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSubMenu</servlet-name>
        <url-pattern>/create_sub_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterSubMenu</servlet-name>
        <url-pattern>/alter_sub_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubMenu</servlet-name>
        <url-pattern>/delete_sub_menu.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DashboardAdmin</servlet-name>
        <jsp-file>/admin/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardAdmin</servlet-name>
        <url-pattern>/admin/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <jsp-file>/forgot-password.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/forgot-password</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Funcionary</servlet-name>
        <jsp-file>/funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Funcionary</servlet-name>
        <url-pattern>/Funcionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FuncionaryAdmin</servlet-name>
        <jsp-file>/admin/funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FuncionaryAdmin</servlet-name>
        <url-pattern>/admin/Funcionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFuncionary</servlet-name>
        <jsp-file>/add_funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFuncionary</servlet-name>
        <url-pattern>/AddFuncionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFuncionaryAdmin</servlet-name>
        <jsp-file>/admin/add_funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFuncionaryAdmin</servlet-name>
        <url-pattern>/admin/AddFuncionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditFuncionary</servlet-name>
        <jsp-file>/alter_funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFuncionary</servlet-name>
        <url-pattern>/EditFuncionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditFuncionaryAdmin</servlet-name>
        <jsp-file>/admin/alter_funcionary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditFuncionaryAdmin</servlet-name>
        <url-pattern>/admin/EditFuncionary</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>User</servlet-name>
        <jsp-file>/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserAdmin</servlet-name>
        <jsp-file>/admin/user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAdmin</servlet-name>
        <url-pattern>/admin/User</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Menu</servlet-name>
        <jsp-file>/admin/menu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Menu</servlet-name>
        <url-pattern>/admin/Menu</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProfileOnGes</servlet-name>
        <jsp-file>/admin/profile_onges.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfileOnGes</servlet-name>
        <url-pattern>/admin/ProfileOnges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFuncionary</servlet-name>
        <url-pattern>/create_funcionary.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUser</servlet-name>
        <url-pattern>/create_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfileMenu</servlet-name>
        <url-pattern>/manage_profile_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterUser</servlet-name>
        <url-pattern>/alter_user.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLogin</servlet-name>
        <url-pattern>/create_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterLogin</servlet-name>
        <url-pattern>/alter_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/upload.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alter_Funcionary</servlet-name>
        <url-pattern>/alter_funcionary.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAddress</servlet-name>
        <url-pattern>/create_address.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTelephone</servlet-name>
        <url-pattern>/create_telephone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterAddress</servlet-name>
        <url-pattern>/alter_address.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterTelephone</servlet-name>
        <url-pattern>/alter_telephone.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSchool</servlet-name>
        <url-pattern>/create_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterSchool</servlet-name>
        <url-pattern>/alter_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTelephone</servlet-name>
        <url-pattern>/delete_telephone.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>School</servlet-name>
        <jsp-file>/admin/school.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>School</servlet-name>
        <url-pattern>/admin/School</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AlterSchoolPage</servlet-name>
        <jsp-file>/admin/alter_school.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlterSchoolPage</servlet-name>
        <url-pattern>/admin/AlterSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailConfirmation</servlet-name>
        <url-pattern>/email_confirmation.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateResponsibleSchool</servlet-name>
        <url-pattern>/create_responsible_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterResponsibleSchool</servlet-name>
        <url-pattern>/alter_responsible_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProfileSchool</servlet-name>
        <url-pattern>/create_profile_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterProfileSchool</servlet-name>
        <url-pattern>/alter_profile_school.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProfileSchoolMenu</servlet-name>
        <url-pattern>/manage_profile_school_menu.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTeacher</servlet-name>
        <url-pattern>/create_teacher.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourse</servlet-name>
        <url-pattern>/create_course.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterCourse</servlet-name>
        <url-pattern>/alter_course.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClassRoom</servlet-name>
        <url-pattern>/create_class_room.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSchoolYear</servlet-name>
        <url-pattern>/create_school_year.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterSchoolYear</servlet-name>
        <url-pattern>/alter_school_year.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscipline</servlet-name>
        <url-pattern>/create_discipline.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterDiscipline</servlet-name>
        <url-pattern>/alter_discipline.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/create_student.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterStudent</servlet-name>
        <url-pattern>/alter_student.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterTeacher</servlet-name>
        <url-pattern>/alter_teacher.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageTeacherDiscipline</servlet-name>
        <url-pattern>/manage_teacher_discipline.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            -1
        </session-timeout>
    </session-config>
</web-app>
